/* Код для подключения шрифта в /css/style.css */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;

}

/* Код для подключения шрифта в /css/style.css */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* Код для подключения шрифта в /css/stylename.css */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* Код для подключения шрифта в /css/stylename.css */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "MullerBold";
    src: url("../fonts/MullerBold/MullerBold.eot");
    src: url("../fonts/MullerBold/MullerBold.eot")format("embedded-opentype"),
    url("../fonts/MullerBold/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold/MullerBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

* {
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --color: grey;
    --gap: 0.5rem;
    --radius: 5px;
}

#span_holder_main {
    top: 29px;
    left: 12px;
}

.close {
    display: none;
}

.modal-content {
}

.post_text_modal {
    display: none;
}

.item2_img_adapt {
    display: none;
}

.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dyavchik {
    display: none;
}




/* Navbar */
.navbar-nav1 {
    display: flex;
    padding-left: 6px;
    align-items: center;
    width: 100%;
    flex-flow: row nowrap;
}

.navbar-nav {
    display: none;
    padding-left: 6px;
    align-items: center;
    width: 100%;
    flex-flow: row nowrap;
}

.navbar-nav1 li a {
    padding-right: 30px;
    font-family: 'GothamProRegular', sans-serif;
    font-size: 14px;
    color: #1A191C;
    text-decoration: none;
}

.navbar-nav li a {
    padding-right: 30px;
    font-family: 'GothamProRegular', sans-serif;
    font-size: 14px;
    color: #1A191C;
    text-decoration: none;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
}

#Med {
    padding-left: 14px;
}

/* Dropdown-menu */
.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    position: relative;
    margin-right: -33px;
    margin-left: -12px;
}

.dropdown {
    position: absolute;
    width: 450px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;

    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.header-block1_5 {
    display: none;
}

.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    background-color: var(--color);
    color: #E1E9EF;
}

/* End nm */

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: grey;}




/* .arrow {
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
    border-right: 1px solid #B1B1B1;
    border-top: 1px solid #B1B1B1;
    display: inline;
    position: absolute;
    margin-top: 3px;
    margin-left: 7px;
}*/

.header {
    height: 120px;
    background-color: #FFFFFF;
}

.header-style {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 21px ;
}

.header-style2 {
    justify-self: end;
}

.header-style2 {
    margin-top: 12px;
    margin-left: 8px;
    display: grid;
    align-self: end;
}

.h1_title{
    font-family: 'GothamProRegular', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.h2_title {
    font-family: 'GothamProBold', sans-serif;
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 1px;
}
.concrDiv {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    position: relative;
    padding-top: 6px;
    margin-left: -12px;
}

.nav-toggle {
    display: none;
}

.arrow1 {
    display: block;
}

.header-main1 {
    display: flex;
}

.header-main1_adapt {
    display: none;
}

.header-main2 {
    display: flex;
}

.image-block1 {
    height: 59px;
    width: 190px;
}

.header-block2 {
    background: #FFFFFF;
    border-left: 1px solid #010101;
    padding: 10px 14px;
    margin-left: 21px;
    margin-top: 19px;
    height: 9px;
    border-color: #009FE3;
}

.header-block3 {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    color: #009FE3;
    padding-top: 18px;
    line-height: 19px;
}

/* Section1 */
.section1 {
    display: flex;
    height: 84vh;
    background: linear-gradient(105.08deg, #E1E9EF 22.02%, #CDD8E2 45.76%, #CDD8E2 69.49%, #C8D4DF 93.22%);
    z-index: 1;
}

.center_content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
}

.item {
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    margin-top: 21px;
    justify-content: center;
    vertical-align: center;
}


.item_img {
    padding-right: 15px;
}

.item_img img{
    width: 36px;
}

/* Placeholder */

.span_holder span {color: #E4373D;}
.text_input {
    position: relative;
    z-index: 4;
}
.span_holder {
    position: absolute;
    left: 193px; top: 16px;
    z-index: -1;
    font-family: 'GothamPro', sans-serif;
    line-height: 13.68px;
    font-size: 13px;
    color: #1A191C;
}

.span_holder_top {
    position: absolute;
    left: 193px; top: 16px;
    z-index: -1;
    font-family: 'GothamPro', sans-serif;
    line-height: 13.68px;
    font-size: 13px;
    color: #1A191C;
}


.second {
    left: 198px; top: 15px;
    color: #838383;
}

.holder {
    background-color: transparent;
    border: 1px solid #123;
    outline: none;
}

.holder:focus ~ .span_holder{
    color: #999;
}

/* Girl content */

.pre_girl {
    margin-left: 50px;
}

.pre_girl button {
    display: none;
}

.pre_girl_text_title {
    margin-right: -170px;
}

.pre_girl h1 {
    font-family: 'GothamProBold', sans-serif;
    font-size: 28px;
    line-height: 35px;
    z-index: 999;
}

.pre_girl p {
    font-family: 'GothamPro', sans-serif;
    font-size: 19px;
    padding-top: 12px;
}


.girl {
    flex: 1;
    z-index: 4;
    position: relative;
}

.girlImg {
    margin-left: 21px;
}

.post_girl {
    background-image: url("../img/Rectangle2.png");
    width: 330px;
    height: 430px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: -100px;
    z-index:3;
}

.post_text {
    font-family: 'GothamPro' , sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 42px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 20.1px;
    color: #1A191C;
}

.post_text input {
    padding: 12px 12px;
    width: 90%;
    margin-top: 15px;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    font-size: 13px;
    line-height: 13px;
}

.post_text button {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    background: #009FE3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 19px;
}

.confed {
    width: 60%;
    margin: 24px auto;
    font-family: 'GothamPro', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.girl img{
    padding-bottom: 0;
    margin-bottom: -5px;
    max-width: 560px;
    max-height: 550px;
}
/* Section 2 */
.section2 {
    background-color: #F8F8F8;
    height: 100vh;
}

.container2{
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section2_title h1{
    font-family: 'GothamPro', sans-serif;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding-top:45px;
    margin-bottom: 18px;
    color: #1A191C;
}

.section2_title_text {
    font-family: 'GothamPro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    max-width: 700px;
    margin: 0 auto;
}

.section2_content {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    max-width: 900px;
    max-height: 600px;
    height: 100%;
    margin: 42px auto;
    width: 100%;
}

.сontent_item2 {
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 100%;
}

.content_steps {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 9px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 12px;
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    line-height: 13px;
}

.content_questions {
    display: flex;
    flex-grow: 1;
    padding-top: 21px;
}

.circle {
    width: 33px;
    height: 33px;
    background-color: white;
    border-radius: 50%;
    border:2px solid #009FE3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_div {
    margin-top: 6px;
    margin-left: 7px;
    font-family: 'GothamPro', sans-serif;
    font-size: 17px;
    line-height: 27px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.item2 {
    color: #C4C4C4;
}

.item3 {
    color: #C4C4C4;
}

.item4 {
    color: #C4C4C4;
}

.content_forms {
    display: flex;
    flex-grow: 2;
}

.content_forms textarea {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 9px;
    font-size: 15px;
}

.content_forms1 {
    display: inline-flex;
    font-size: 14px;
    flex-grow: 2;
    font-family: 'GothamPro', sans-serif;
    line-height: 13.68px;
}

.content_forms1 div {
    display: flex;
    flex-direction: column;
}

.content_forms1 div:last-child {
    padding-left: 44px;
}

.content_forms2 {
    font-size: 13px;
    flex-grow: 2.4;
    margin: 0 auto;
    line-height: 13.68px;
    font-family: 'GothamPro', sans-serif;

}

.placeholder {
    position: absolute;
    background-color: white;
    top: 10px;
    left: 8px;
    transition: 0.3s;
    pointer-events: none;
    font-size: 15px;
}

::placeholder {
    color: black;
    padding-top: 1px;
    padding-left: 3px;
}

.mini_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 12px 21px;
    height: 360px;
}

.mini_container h1 {
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding-top: 63px;
    display: flex;
    width: 81%;
    margin: 0 auto;
    font-weight: 500;
    color: #1A191C;
}

.post_text1 {
    font-family: 'GothamPro' , sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 42px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 20.1px;
    color: #1A191C;
    flex-grow: 3;
}

.post_text1 input {
    padding: 13px 13px;
    max-width: 100%;
    width: 51%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    font-size: 13px;
    line-height: 13px;
}

.post_text1 button {
    width: 54.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    background: #009FE3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 19px;
}

.content_buttons {
    display: flex;
    justify-content: space-between;
}
.next {
    background: #009FE3;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    line-height: 14px;
    height: 33px;
    width: 120px;
}

.back {
    color: #1A191C;
    border: none;
    background: #FFFFFF;
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    line-height: 14px;
    width: 18%;
    height: 33px;
}

/* CheckBox */

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 5px;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 60%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 40%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
    background-color: #e9ecef;
}

@media (max-width: 1920px) {
    .pre_girl {
        margin-left: 24px;
    }

    .girl img {
        max-height: 100%;
    }

    .post_girl {
        margin-left: 0;
    }

    .section1 {
        height: 87vh;
    }
}

@media (max-width: 1260px) {

    .container, .container2 {
        max-width: 1060px;
    }

    .girl img {
        max-width: 90%;

    }
    .girlImg {
        margin-left: 78px;
        margin-bottom: -38px;
    }

    .section1 {
        height: 60vh;
    }
}

@media (max-width: 1090px) {
    .container, .container2 {
        max-width: 1010px;
    }

    .post_girl {
        width: 300px;
    }
    .pre_girl {
        width: 210px;
    }

    .pre_girl h1 {
        font-size: 21px;
        line-height: 27px;
    }

    .pre_girl p {
        font-size: 15px;

    }

    .post_text {
        padding-top: 21px;
    }

    .item {
        font-size: 12px;
    }

    .item_img img {
        width: 35px;
    }

    .girl img {
        max-width: none;
        width: 400px;
        margin-bottom: 27px;
    }

    .header-main2 {
        width: 100%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .header-style2{
        margin-top: 3px;
    }

    .h1_title {
        font-size: 12px;
    }

    .h2_title {
        font-size: 15px;
    }

    .concrDiv {
        font-size: 12px;
    }

    .navbar-nav1 li a {
        padding-right: 12px;
        font-size: 12px;
    }

    .navbar-nav li a {
        padding-right: 12px;
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        margin-right: 0;
        padding-right: 0;
        padding-left: 12px;
    }

    .section2_title h1 {
        font-size: 21px;
        line-height: 27px;
    }

    .section2_title_text {
        font-size: 14px;
        line-height: 24px;
    }

    .mini_container h1 {
        font-size: 16px;
        line-height: 22px;
    }

    .mini_container {
        width: 90%;
    }

    .post_text1 input {
        width: 42%;
    }

    .second {
        left: 218px;
    }

    .post_text1 button {
        width: 46%;
    }

    .btn {
        margin-left: 0;
        margin-top: -4px;
    }
}

@media (max-width: 1040px) {
    .pre_girl {
        width: 140px;
    }

    .text_input {
        position: relative;
    }

    #span_holder_bottom {
        position: absolute;
        top: 12px;
        left: 225px;
    }

    #span_holder_main {
        top: 9px;
        left: 12px;
    }

    .pre_girl_text {
        width: 210px;
    }

    .pre_girl_icons {
        width: 189px;
    }

    .center_content {
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
    }

    .container, .container2 {
        max-width: 900px;
    }

    .post_text {
        font-size: 12px;
        padding-top: 30px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .post_text input {
        margin-top: 3px;
        padding: 4px 4px;
        width: 95%;
    }

    .span_holder {
        top: 9px;
        font-size: 10px;
    }

    .post_text button {
        margin-top: 9px;
        font-size: 10px;
        height: 28px;
    }

    .confed {
        width: 70%;
        margin-top: 33px;
        font-size: 10px;
    }

    .section1, section2 {
        height: 500px;
    }
}

@media (max-width: 930px) {
    .container, .container2 {
        max-width: 840px;
    }

    .pre_girl h1 {
        font-size: 18px;
        line-height: 21px;
    }

    .girl img {
        width: 330px;
        margin-bottom: -48px;
    }
}

@media (max-width: 870px) {
    .container, .container2 {
        max-width: 740px;
    }

    #span_holder_bottom {
        position: absolute;
        top: 12px;
        left: 180px;
    }

    .pre_girl h1 {
        font-size: 15px;
        line-height: 21px;
    }

    .girl img {
        width: 330px;
        margin-bottom: -48px;
        margin-left: -44px;
    }

    .pre_girl_text {
        width: 160px;
    }

    .pre_girl_icons {
        width: 175px;
    }

    .item_img {
        padding-left: 12px;
    }

    .img2 {
        padding-left: 27px;
    }

    .item {
        margin-top: 9px;
    }

    .pre_girl p {
        padding-top: 6px;
    }

    .post_girl {
        margin-top: 122px;
    }

    .post_text {
        padding-top: 9px;
    }

    .post_text button {
        line-height: 9px;
        margin-top: 4px;

    }

    .content_forms1 {
        font-size: 13px;
    }

    .confed {
        margin: 3px auto;
    }

}

@media (max-width: 774px) {

    .container, .container2 {
        max-width: 660px;
    }

    #span_holder_bottom {
        position: absolute;
        top: 12px;
        left: 159px;
    }

    .girl {
        display: none;
    }

    .post_girl {
        display: none;
    }

    .pre_girl {
        max-width: 100%;
        width: 100%;
        margin-top: -122px;
    }

    .center_content {
        display: flex;
        width: auto;
        margin: 0;
    }

    .pre_girl_text {
        width: auto;
    }

    .pre_girl_text_title {
        margin-right: 0;
    }

    .pre_girl_icons {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .item {
        justify-content: flex-start;
        padding-top: 18px;
        font-size: 15px;
    }

    .item_txt {
        padding: 6px;
    }

    .pre_girl button {
        display: flex;
        margin: 30px auto;
        width: 60%;
        height: 45px;
        padding: 12px 60px;
        border: 1px solid #D5D5D5;
        border-radius: 6px;
        background: #009FE3;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #FFFFFF;
        line-height: 19px;
    }

    .img2 {
        padding-left: 12px;
    }

    .pre_girl h1 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 45px;
    }

    .pre_girl p {
        padding-top: 12px;
        font-size: 21px;
    }

    .header-block2, .header-block3, .h1_title,.concrDiv {
        display: none;
    }

    .h2_title {
        display: none;
    }

    .header-block1 {
        margin-bottom: 12px;
    }

    /* Nav toggle */
    .nav-toggle {
        width: 30px;
        padding: 21px 0;
        display: none;

        font-size: 0;
        color: transparent;

        border: 0;
        background: none;
        cursor: pointer;

        position: absolute;
        top: 28px;
        right: 18px;
        z-index: 1;
    }

    .nav-toggle:focus {
        outline: 0;
    }

    .nav-toggle__item {
        display: block;
        width: 100%;
        height: 3px;

        background-color: #009FE3;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: background .2s linear;
    }

    .nav-toggle.active .nav-toggle__item {
        background: none;
    }

    .nav-toggle__item:before,
    .nav-toggle__item:after {
        content: '';
        width: 100%;
        height: 3px;

        background-color: #009FE3;

        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }

    .nav-toggle__item:before {
        top: -8px;
    }

    .nav-toggle__item:after {
        bottom: -8px;
    }

    .nav-toggle.active .nav-toggle__item:before {
        transform-origin: left top;
        transform: rotate(45deg)
        translate3d(0px, -3px, 0);
    }

    .nav-toggle.active .nav-toggle__item:after {
        transform-origin: left bottom;
        transform: rotate(-45deg)
        translate3d(0px, 3px, 0);
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    .navbar-nav1 {
        display: none;
        margin-top: 21px;
    }

    .navbar .active {
        display: block;
    }

    #Med {
        padding-left: 0;
    }

    .btn {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -4px;
        padding-left: 0;
    }

    .header-block1_5 {
        display: flex;
        justify-content: center;
        margin-top: 18px;
        margin-left: 24px;
        font-size: 15px;
        font-family: 'GothamProBold', sans-serif;
        font-weight: bolder;
    }

    .navbar {
        background-color: #FFFFFF;
        width: 100%;
        position: fixed;
        top: 8%;
        left: 0%;
        padding-bottom: 15px;
    }

    .header_main2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dyavchik {
        display: flex;
        height: 21px;
        flex-direction: column;
        padding-left: 23px;
        border-top-color: #92a8d1;
    }

    .h1_title1 {
        font-family: 'GothamProRegular', sans-serif;
        font-size: 14px;
        font-weight: bolder;
        margin-bottom: 1px;
        display: flex;
    }

    .concrDiv1 {
        font-family: 'GothamProRegular', sans-serif;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: var(--gap);
        padding: 0.6rem;
        cursor: pointer;
        border-radius: var(--radius);
        border: none;
        position: relative;
        padding-top: 6px;
        margin-left: -12px;
    }

    .header-style1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        position: relative;
        margin: 0;
        padding-left: 15px;
    }

    #Med {
        padding-left: 15px;
    }

    .header-block1_5 h2 {
        width: 210px;
    }

    .header-block1 {
    }

    .navbar-nav {
        padding-left: 0;
        z-index: 123;
    }

    .header-main1 {
        display: none;
    }

    .header-main1_adapt {
        display: flex;
        position: fixed;
        width: 98%;
        background: white;
        padding-left: 21px;
        margin-right: 15px;
        padding-top: 15px;
    }

    .line {
        width: 96%;
        border: 1px solid #E3E3E3;
    }

    .nav-link {
        font-family: 'GothamPro', sans-serif;
        font-size: 14px;
        line-height: 13px;
        padding-top: 9px;
    }

    .header-style {
        margin-top: 0;
    }

    .navbar-nav li a {
        font-size: 18px;
        padding-top: 17px;
    }

    .section1 {
        margin-top: 90px;
    }

    .content_forms textarea {
        position: static;
    }

    .dropdown1{
        display: none;
        width: 100%;
        margin-top: 0.3rem;
        background: white;
        outline: none;
        transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

        transform: translateY(0.5rem);
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    .dropdown-item a{
        color: #726F77;
    }

    .show1 {
        display: block;
        transform: translateY(0rem);
        visibility: visible;
        opacity: 1;
        outline: none;
    }

    .arrow1 {
        transform: rotate(180deg);
        transition: 0.2s ease;
    }

    .dropdown1 a {
        display: flex;
        align-items: center;
        column-gap: var(--gap);
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: black;
        outline: none;
    }

    .dropdown1 a:hover {
        background-color: var(--color);
        color: #E1E9EF;
        outline: none;
    }

    input[type=button] {
        width: 120px;
        height: 60px;
        margin-left: 35px;
        display: block;
        background-color: gray;
        color: white;
        border: none;
        outline: none;
    }

    /* Модальный (фон) */
    .modal {
        display: none; /* Скрыто по умолчанию */
        position: fixed; /* Оставаться на месте */
        z-index: 1; /* Сидеть на вершине */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
        overflow: auto; /* Включите прокрутку, если это необходимо */
        background-color: rgb(0,0,0); /* Цвет запасной вариант */
        background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
    }

    /* Модальное содержание/коробка */
    .modal-content {
        background-color: #fefefe;
        margin: 0 auto; /* 15% сверху и по центру */
        padding: 20px;
        border: 1px solid #888;
        width: 97%; /* Может быть больше или меньше, в зависимости от размера экрана */
        height: 94vh;
        position: relative;
    }

    /* Кнопка закрытия */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .post_text_modal {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 15px;
        line-height: 20px;
        position: absolute;
        left: 50%;
        top: 45%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .text_input {
        margin-top: 24px;

    }

    .span_holder {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 15px;
        line-height: 20px;
        padding-top: 3px;
    }

    .holder {
        height: 33px;

    }

    .post_text_modal button {
        height: 42px;
        width: 98%;
        font-family: 'Gotham Pro', sans-serif;
        font-size: 13px;
        line-height: 20px;
        margin-top: 12px;
    }

    .confed {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 15px;
        line-height: 20px;
    }

    .item2_img {
        display: none;
    }

    .post_text1 {
        padding-top: 3px;
    }

    .post_text1 input {
        padding: 5px 9px;
    }

    .span_holder {
        left: 160px;
    }

    .сontent_item2 {
        margin-top: 1px;
        display: flex;
    }

    .section2_content {
        margin-top: 12px;
    }

    .post_text_modal {
        display: flex;
        flex-direction: column;
        font-family: 'GothamPro' , sans-serif;
        font-weight: 300;
        font-size: 14px;
        padding-top: 42px;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 20.1px;
        color: #1A191C;
    }

    .close {
        display: block;
    }

    .holder {
        width: 98%;
        margin-top: 15px;
        border: 1px solid #D5D5D5;
        border-radius: 6px;
        font-size: 13px;
        line-height: 13px;
    }
    .span_holder {
        top: 1px;
        left: 6px;

    }

    .post_text_modal button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        border: 1px solid #D5D5D5;
        border-radius: 6px;
        background: #009FE3;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #FFFFFF;
        line-height: 19px;
    }

    .text_input {
        margin-top: 12px;
    }

    .section2 {
        height: 1050px;
    }


}



